app/Http/Controllers/wsdl/Infrastructure.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://hospital.hms.com/service"
    targetNamespace="http://hospital.hms.com/service"
    name="InfrastuctureService">
    <wsdl:documentation>
        Definition for a SOAP web service for hospital hms
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://hospital.hms.com/service" schemaLocation="Hospital.xsd"/>
            <!-- Department data -->
            <xsd:element name="GetDepartment">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="departmentId" type="xsd:int"/>                        
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetDepartmentResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="department" type="tns:DepartmentType"/>
                        <!-- Add other elements as needed -->
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    
    <!--A wsdl message element is used to define a message exchanged between a web service-->
    <wsdl:message name="GetDepartment">
        <wsdl:part name="parameters" element="GetDepartment"/>
    </wsdl:message>    
    <wsdl:message name="GetDepartmentResponse">
        <wsdl:part name="parameters" element="GetDepartmentResponse"/>
    </wsdl:message>     
    
    <!--A wsdl port type is used to combine multiple messages(input, output) into a single operation-->
    <wsdl:portType name="InfrastucturePortType">
        <wsdl:operation name="getDepartment">
            <wsdl:input message="tns:GetDepartment"/>
            <wsdl:output message="tns:GetDepartmentResponse"/>
        </wsdl:operation>      
    </wsdl:portType>
    
    <!--A binding element defines exactly how each operation will take place over the network-->
    <wsdl:binding name="InfrastuctureBinding" type="tns:InfrastucturePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDepartment">
            <soap:operation soapAction="http://hospital.example.com/getDepartment"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>
    
    <!--A service element finally says where the service can be access from, the endpoint-->
    <wsdl:service name="InfrastuctureService">
        <wsdl:port name="InfrastucturePort" binding="tns:InfrastuctureBinding">
            <soap:address location="http://hospital.example.com/api/soap/infrastucture-service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>